@font-face {
    font-family: 'manifont_grotesk_book_doBkdot';
    src: url('fonts/manifontgroteskbookdot-webfont.woff2') format('woff2'),
         url('fonts/manifontgroteskbookdot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dauphinedings';
    src: url('fonts/dauphine-dings-webfont.woff2') format('woff2'),
         url('fonts/dauphine-dings-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	background: url('images/b6e35af5bc563e07eaac152ecb1c9855.gif') no-repeat center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

div.title {
    height: 10em;
    position: relative }
div.title p {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

body {
	/*max-width: 960px;*/

}

h1 { 
    font-family: 'Gudea', Helvetica, Arial, sans-serif;
    color:blue;
    display: block;
    letter-spacing: 200px;
    font-size: 6em;
    font-weight:bold;
 	padding-left: 150px;
 	padding-top: 150px;


}

h1:hover {

	color: lightblue;
}

h2 {
	font-family: 'dauphinedings', Helvetica, Arial, sans-serif;
    color:blue;
    font-size: 25em;
    justify-content: right;
    margin:bottom;
    justify-content: center;


}

a:visited {
    text-decoration: none;
    color:blue;
}

a:link {
    text-decoration: none;
    color:blue;
}

a:hover {
    color: yellow;
}





}

#header-image {
	background: url('images/b6e35af5bc563e07eaac152ecb1c9855.gif') no-repeat center fixed;
	background-size:cover;
	height:300px;
	width:100%;
}

.firstparagraph {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:20px;

}

#intro {
	background-color: #63fadc;
	margin:40px;
}

#about {
	background-color: orange;
	padding:20px;

}

